@import "tailwindcss";

@layer base {
  body {
    @apply min-h-screen bg-linear-to-br from-black via-purple-950 to-black;
  }
}

@theme {
  --color-brand-accent: var(--accent);
  --color-brand-bg: var(--bg);
}

:root {
  --accent: #E88C05;
  --bg: #020617;
  --text: #6b6375;
}

#root {
  width: 100%;
  /* max-width: 1126px; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}